.accounts-container {
	background-color: #ffffff;
	z-index: 15;
	width: 540px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 2px 2px 9px rgb(0 0 0 / 13%);
	margin-bottom: 30px;
	position: relative;
}

/* Header Style */
.category-block-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	max-height: 140px;
	padding: 20px;
	font-weight: 400;
	font-size: 20px;
	border-bottom: 1px solid #e8e7e7;
	background-color: rgba(244, 244, 241, 0.4);
	color: #797878;
}

.category-block-stats {
	width: 310px;
	text-align: right;
}

.category-block-name {
	text-transform: uppercase;
}

.category-block-date,
.category-block-stats-title {
	margin-top: 5px;
	text-transform: lowercase;
	font-size: 12px;
	color: #9a9898;
}

.category-block-stats-item {
	display: inline-block;
	width: 135px;
	margin: 0 0 16px 20px;
	text-align: right;
}

/* Body Style */
.category-block-body {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 17px 0;
}

.category {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	width: 120px;
	margin: 0 3px 15px;
	z-index: 1;
}

.category-title {
	width: 100%;
	height: 38px;
	overflow: hidden;
	line-height: 38px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 500;
	color: #4f4f4f;
}

.category-icon-wrapper {
	position: relative;
	margin: 10px 0;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}

.category-income .category-icon-wrapper,
.category-account .category-icon-wrapper,
.category-category .category-icon-wrapper {
	box-shadow: 0 2px 9px 0 rgb(0 0 0 / 13%);
}

.category-income .category-fill {
	background-color: #03bded;
}

.category-account .category-fill {
	background-color: #fc0;
}

.category-category .category-fill {
	background-color: #0ac38e;
}

.category-fill {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.category-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 37px;
	height: 37px;
	margin: auto;
}

.category-icon-add {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}
.category-icon-add:hover {
	background-color: rgb(214, 214, 214);
}

.category-amount {
	padding: 4px 0;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
}

.category-income .category-actual-amount {
	color: #0a93d1;
}

.category-account .category-actual-amount {
	color: #f9a825;
}

.category-category .category-actual-amount {
	color: #0ac38e;
}

.category-actual-amount {
	height: 16px;
	line-height: 16px;
	font-weight: 500;
	font-size: 16px;
}

.category-edit {
	position: absolute;
	top: 45px;
	right: 1px;
	width: 18px;
	height: 18px;
	fill: #d5d5d5;
	cursor: pointer;
	z-index: 3;
}

.category-add-category {
	padding: 38px 0 40px;
}

.category-block-trigger {
	cursor: pointer;
	display: block;
	text-align: center;
	width: 100%;
	position: relative;
	height: 24px;
}

.category-planned-amount {
	font-size: 13px;
	color: #9a9898;
}
