body {
	background-color: #ffffff;
	background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	color: #64635f;
	position: relative;
	overflow: visible;
	height: 100%;
}

.data-container {
	margin-top: 20px;
}

.dashboard-body {
	width: 100%;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
