*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	background-color: transparent;
}

body {
	background-color: #efefec;
	background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #64635f;
	position: relative;
	overflow: visible;
	height: 100%;
}

.data-container {
	margin-top: 20px;
	margin: auto;
	max-width: 1280px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-dashboard {
	padding: 30px 25px 90px;
	position: relative;
	display: block;
}

.dashboard {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.dashboard-body {
	width: 100%;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.dashboard-column {
	width: 50%;
	box-sizing: border-box;
}

@media (min-width: 600px) {
	.container-dashboard {
		padding: 30px 55px 90px;
	}
}

@media (min-width: 992px) {
	.data-container {
		padding: 40px 55px;
	}
}

@media (min-width: 768px) {
	.data-container {
		min-height: calc(100vh - 98px - 70px);
		padding: 70px 35px;
	}
}
