.dashboard-top {
	width: 100%;
}

.add-transaction-wrapper {
	z-index: 10;
}

.add-transaction {
	width: 100%;
	height: 66px;
	box-shadow: 2px 2px 9px rgb(0 0 0 / 13%);
	background-color: #fff;
	position: relative;
	border-radius: 4px;
	line-height: 66px;
	padding: 0 86px 0 20px;
	font-weight: 300;
	color: #757474;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 16px;
	z-index: 3;
	font-family: 'Roboto';
	font-weight: 300;
}

.add-transaction-text {
	margin: 0 5px;
}

.add-transaction-placeholder {
	margin: 0;
}

.add-transaction-text,
.add-transaction-step,
.add-transaction-date,
.add-transaction-debtor,
.add-transaction-amount-component,
.add-transaction .autocomplete-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.add-transaction-submit {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 66px;
	background-color: #0eac7f;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}

.add-transaction-submit[disabled] {
	cursor: default;
	opacity: 0.5;
}

.add-transaction-submit::before {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -11px;
	margin-top: -11px;
	background-position: -240px -138px;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	content: '';
}

.transaction-adder-focus {
	position: fixed;
	background-color: rgba(242, 242, 242, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 400;
}

.transaction-adder-focus + .add-transaction {
	z-index: 401;
}

.add-transaction-steps-wrapper {
	white-space: nowrap;
	height: 100%;
	margin-left: -5px;
}

.add-transaction-step {
	white-space: nowrap;
	height: 100%;
}

.add-transaction-text {
	margin: 0 5px;
}

.add-transaction input {
	font-weight: 300;
	min-height: 20px;
	color: #757474;
	font-size: inherit;
	font-family: 'Roboto';
	white-space: nowrap;
	max-width: 200px;
}
